@keyframes loading-letter {
  0% {
    opacity: 0;
    transform: translateX(-50rem); }
  60% {
    opacity: 1;
    transform: translateX(1rem); }
  80% {
    opacity: 1;
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }
@keyframes bounce {
  0%,
    100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); } }
@keyframes load {
  0% {
    stroke-dashoffset: 570; }
  50% {
    stroke-dashoffset: 530; }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg); } }
@keyframes end-loading {
  0% {
    opacity: 1;
    transform: scale(1); }
  99% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0); } }
@keyframes degraded-color {
  0% {
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%); }
  30% {
    background: linear-gradient(0deg, #9356dc 33%, #ff79da 100%); }
  50% {
    background: linear-gradient(0deg, #ff79da 0%, #9356dc 47%); }
  100% {
    background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%); } }
@keyframes new {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes menu-anim {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes back-arrow {
  0% {
    transform: scale(1) rotateX(360deg) translateX(0rem); }
  80% {
    transform: scale(1.2) rotateX(-30deg) translateX(-0.7rem); }
  100% {
    transform: scale(1) rotateX(0deg) translateX(0); } }
@keyframes coeur {
  0% {
    transform: scale(1) translateY(30px);
    opacity: 0; }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }
@keyframes hover-coeur {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes hover-coche {
  0% {
    transform: scale(1) translateX(20px) rotate(-640deg); }
  70% {
    transform: scale(1.1) translate(0px) rotate(30deg); }
  100% {
    transform: scale(1) translate(0px) rotate(0deg); } }
@keyframes unhover-coche {
  0% {
    transform: translate(0px) rotate(0deg); }
  100% {
    transform: translate(20px) rotate(0deg); } }
@font-face {
  font-family: 'robotoregular';
  src: url("./font/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'robotothin';
  src: url("./font/roboto_thin_macroman/Roboto-Thin-webfont.ttf") format("truetype");
  font-style: thin; }
@font-face {
  font-family: 'robotobold';
  src: url("./font/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype");
  font-style: bold; }
@font-face {
  font-family: 'Shrikhandregular';
  src: url("./font/Shrikhand/Shrikhand-Regular.ttf") format("truetype"); }
html {
  font-size: 10px; }

body {
  font-family: 'robotoregular', sans-serif;
  min-width: 380px;
  max-width: 1920px;
  margin: 0;
  padding: 0; }
  body .loader {
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 0px;
    padding-top: 250px;
    background-color: #fff;
    width: 100%;
    height: 2738px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: end-loading 0.5s ease-in forwards;
    animation-delay: 5s; }
    body .loader .loader__letter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: 'Shrikhandregular',sans-serif;
      font-size: 3rem;
      color: #9356DC; }
      body .loader .loader__letter--8 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 0s; }
      body .loader .loader__letter--7 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 0.2s; }
      body .loader .loader__letter--6 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 0.4s; }
      body .loader .loader__letter--5 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 0.6s; }
      body .loader .loader__letter--4 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 0.8s; }
      body .loader .loader__letter--3 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 1s; }
      body .loader .loader__letter--2 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 1.2s; }
      body .loader .loader__letter--1 {
        opacity: 0;
        animation: loading-letter 3s ease forwards;
        animation-delay: 1.4s; }
    body .loader .loader__spinner {
      width: 150px;
      height: 150px; }
    body .loader svg {
      width: 90%;
      fill: none; }
    body .loader .load {
      transform-origin: 50% 50%;
      stroke-dasharray: 570;
      stroke-width: 10px; }
      body .loader .load.one {
        stroke: #9356DC;
        animation: load 1.5s infinite; }
      body .loader .load.two {
        stroke: #FF79DA;
        animation: load 1.5s infinite;
        animation-delay: 0.1s; }
      body .loader .load.three {
        stroke: #99E2D0;
        animation: load 1.5s infinite;
        animation-delay: 0.2s; }
    body .loader .point {
      animation: bounce 1s infinite ease-in-out; }
      body .loader .point.one {
        fill: #9356DC;
        animation-delay: 0s; }
      body .loader .point.two {
        fill: #FF79DA;
        animation-delay: 0.1s; }
      body .loader .point.three {
        fill: #99E2D0;
        animation-delay: 0.2s; }
  body header {
    position: relative;
    background-color: white;
    height: 70px;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*box-shadow: 0px 15px 10px -15px #aaaaaa;*/
    z-index: 50; }
    body header .arrow-left {
      font-size: 2rem;
      position: absolute;
      left: 2.5rem;
      color: black; }
      body header .arrow-left:hover {
        animation: back-arrow 0.8s ease-in-out forwards; }
    body header img {
      width: 170px; }
  body .page_daccueil {
    z-index: 1; }
    body .page_daccueil .localisation {
      background-color: #EAEAEA;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      height: 55px;
      justify-content: center;
      font-size: 1.75rem;
      z-index: 0;
      box-shadow: 2px 9px 14px -8px #00000042 inset; }
      body .page_daccueil .localisation .fas {
        position: relative;
        right: 20px; }
    body .page_daccueil .presentation {
      background-color: #f6f6f6;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      justify-content: start;
      padding: 0 5rem 0 5rem;
      flex-direction: column;
      height: 315px; }
      body .page_daccueil .presentation h2 {
        font-family: "robotobold", sans-serif;
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        padding: 5rem 2rem 0rem 2rem; }
      body .page_daccueil .presentation p {
        text-align: center;
        font-family: 'robotothin', sans-serif;
        font-size: 1.75rem;
        margin: 0px;
        padding: 2rem 0rem 4rem 0rem; }
      body .page_daccueil .presentation a {
        text-decoration: none;
        height: 2.2rem;
        color: black;
        font-weight: normal; }
        body .page_daccueil .presentation a .btn {
          height: 100%;
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap; }
        body .page_daccueil .presentation a .btn_rose {
          cursor: pointer;
          padding: 1.75rem 3rem;
          border-radius: 30px;
          font-size: 1.75rem;
          box-shadow: 0px 5px 10px #cdcdcd;
          color: white;
          background: #FF79DA;
          background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
          transition: background-color 1000ms; }
          body .page_daccueil .presentation a .btn_rose:hover {
            animation: degraded-color 0.2s forwards; }
    body .page_daccueil .fonctionnement {
      padding: 50px 25px 50px 25px; }
      body .page_daccueil .fonctionnement__titre {
        font-size: 2.5rem; }
      body .page_daccueil .fonctionnement__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px 30px; }
        @media (max-width: 960px) {
          body .page_daccueil .fonctionnement__item {
            grid-template-columns: 1fr; } }
        body .page_daccueil .fonctionnement__item a {
          text-decoration: none;
          color: black; }
        body .page_daccueil .fonctionnement__item .btn_fonctionnement {
          font-size: 1.75rem;
          background-color: #f6f6f6;
          display: flex;
          min-width: 200px;
          max-width: 100%;
          justify-content: flex-start;
          align-items: center;
          margin: 25px 0;
          padding-top: 27.5px;
          padding-bottom: 27.5px;
          border-radius: 25px;
          box-shadow: 0px 5px 10px #e6e6e6; }
          @media (max-width: 960px) {
            body .page_daccueil .fonctionnement__item .btn_fonctionnement {
              justify-content: center;
              max-width: 100%; } }
          body .page_daccueil .fonctionnement__item .btn_fonctionnement .pastille_violette {
            position: relative;
            left: -13px;
            background-color: #9356DC;
            color: white;
            padding: 5px 10px;
            font-size: 1.5rem;
            border-radius: 30px; }
            @media (max-width: 960px) {
              body .page_daccueil .fonctionnement__item .btn_fonctionnement .pastille_violette {
                position: absolute;
                left: 1rem; } }
          body .page_daccueil .fonctionnement__item .btn_fonctionnement i {
            position: relative;
            left: 1rem;
            color: #7b7b7b; }
            @media (max-width: 960px) {
              body .page_daccueil .fonctionnement__item .btn_fonctionnement i {
                position: absolute;
                left: 7rem; } }
          body .page_daccueil .fonctionnement__item .btn_fonctionnement span {
            position: relative;
            left: 3.3rem; }
            @media (max-width: 960px) {
              body .page_daccueil .fonctionnement__item .btn_fonctionnement span {
                position: static;
                left: 0rem;
                margin-left: 2rem; } }
          body .page_daccueil .fonctionnement__item .btn_fonctionnement:hover {
            background-color: #f1e9fb;
            color: #9356DC;
            box-shadow: 0px 5px 10px #aaaaaa; }
            body .page_daccueil .fonctionnement__item .btn_fonctionnement:hover > i {
              color: #9356DC; }
    body .page_daccueil .restaurants {
      background-color: #f6f6f6;
      max-width: 100%;
      padding: 50px 25px 50px 25px; }
      body .page_daccueil .restaurants h2 {
        font-size: 2.5rem; }
      body .page_daccueil .restaurants__bloc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;
        grid-column: 1;
        grid-row: 1; }
        @media (max-width: 960px) {
          body .page_daccueil .restaurants__bloc {
            grid-template-columns: 1fr; } }
      body .page_daccueil .restaurants a {
        max-width: 100%;
        height: 27.5rem;
        text-decoration: none;
        color: black;
        border-radius: 25px;
        box-shadow: 0px 5px 10px #e5e5e5;
        overflow: hidden; }
        @media (max-width: 960px) {
          body .page_daccueil .restaurants a {
            grid-template-columns: 1fr; } }
      body .page_daccueil .restaurants__bloc--element {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0;
        margin: 2rem 0 2rem 0; }
        body .page_daccueil .restaurants__bloc--element:hover {
          opacity: 0.85;
          transition-duration: 0.5s; }
        body .page_daccueil .restaurants__bloc--element figure {
          position: relative;
          bottom: 2rem;
          width: 100%;
          margin: 0; }
          body .page_daccueil .restaurants__bloc--element figure:hover > .tag_nouveau {
            animation: new 0.5s ease-out; }
          body .page_daccueil .restaurants__bloc--element figure img {
            width: 100%;
            height: 220px;
            object-fit: cover; }
          body .page_daccueil .restaurants__bloc--element figure .tag_nouveau {
            color: #038868;
            font-size: 1.5rem;
            background-color: #99E2D0;
            padding: 0.85rem;
            border-radius: 3px;
            position: absolute;
            top: 4rem;
            right: 2rem;
            z-index: 10; }
        body .page_daccueil .restaurants__bloc--element figcaption {
          display: flex;
          background-color: white;
          min-width: 100%;
          height: 28%;
          position: absolute;
          bottom: 0;
          z-index: 10; }
          body .page_daccueil .restaurants__bloc--element figcaption .texte {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 2rem 0 0 2rem;
            font-size: 1.75rem; }
            body .page_daccueil .restaurants__bloc--element figcaption .texte .texte_gras {
              font-size: 1.85rem;
              font-weight: bold; }
            body .page_daccueil .restaurants__bloc--element figcaption .texte .texte_light {
              font-size: 1.6rem;
              font-weight: lighter; }
          body .page_daccueil .restaurants__bloc--element figcaption .coeur {
            justify-content: end; }
            body .page_daccueil .restaurants__bloc--element figcaption .coeur svg {
              position: relative;
              top: 20px;
              right: 20px;
              fill: none; }
              body .page_daccueil .restaurants__bloc--element figcaption .coeur svg:hover {
                /* gradient and fallback color */
                fill: url(#heart-gradient);
                cursor: pointer;
                stroke: none;
                animation: hover-coeur 0.8s ease-in-out; }
  body .page_a-la-francaise {
    display: flex;
    flex-direction: column; }
    body .page_a-la-francaise img {
      max-width: 100%;
      object-fit: cover;
      max-height: 30rem; }
    body .page_a-la-francaise .carte {
      background-color: #f6f6f6;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      margin-top: -50px;
      padding: 65px 20px 65px 20px;
      z-index: 10; }
      body .page_a-la-francaise .carte .nom_restaurant {
        background-color: #f6f6f6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin-top: -50px;
        min-width: 100%;
        display: flex;
        align-items: baseline; }
        body .page_a-la-francaise .carte .nom_restaurant h2 {
          font-family: 'Shrikhandregular', sans-serif;
          width: 100%;
          font-size: 3rem; }
        body .page_a-la-francaise .carte .nom_restaurant .coeur {
          animation: coeur 1s forwards; }
          body .page_a-la-francaise .carte .nom_restaurant .coeur svg {
            position: relative;
            bottom: -5px;
            right: 10px;
            fill: none; }
            body .page_a-la-francaise .carte .nom_restaurant .coeur svg:hover {
              /* gradient and fallback color */
              fill: url(#heart-gradient);
              cursor: pointer;
              stroke: none;
              animation: hover-coeur 0.8s ease-in-out; }
      body .page_a-la-francaise .carte .menu {
        margin-bottom: 3rem; }
        body .page_a-la-francaise .carte .menu h3 {
          margin: 5px 0 5px 0;
          font-size: 1.5rem;
          font-weight: lighter;
          animation: menu-anim 0.5s ease forwards; }
        body .page_a-la-francaise .carte .menu .ligne_verte {
          height: 0.3rem;
          width: 4rem;
          background-color: #99E2D0;
          animation: menu-anim 0.5s ease forwards; }
        body .page_a-la-francaise .carte .menu__bloc {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 0px 1.5rem;
          max-height: 20rem; }
          @media (max-width: 1150px) {
            body .page_a-la-francaise .carte .menu__bloc {
              grid-template-columns: 1fr 1fr; } }
          @media (max-width: 700px) {
            body .page_a-la-francaise .carte .menu__bloc {
              display: block;
              margin-bottom: 7.5rem; } }
          body .page_a-la-francaise .carte .menu__bloc:nth-child(1) {
            animation: menu-anim 0.5s ease forwards; }
          body .page_a-la-francaise .carte .menu__bloc:nth-child(2) {
            animation: menu-anim 1s ease forwards; }
          body .page_a-la-francaise .carte .menu__bloc:nth-child(3) {
            animation: menu-anim 1.5s ease forwards; }
          body .page_a-la-francaise .carte .menu__bloc:nth-child(4) {
            animation: menu-anim 2s ease forwards; }
          body .page_a-la-francaise .carte .menu__bloc:nth-child(5) {
            animation: menu-anim 2.5s ease forwards; }
          body .page_a-la-francaise .carte .menu__bloc a {
            text-decoration: none;
            color: black;
            width: 100%; }
          body .page_a-la-francaise .carte .menu__bloc--description {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            height: 6.8rem;
            background-color: white;
            max-width: 100%;
            border-radius: 15px;
            box-shadow: 0px 5px 10px #e7e7e7;
            margin: 1.5rem 0;
            overflow: hidden;
            max-height: 7.5rem; }
            body .page_a-la-francaise .carte .menu__bloc--description:not(:hover) > .coche_verte {
              animation: unhover-coche 1.5s forwards; }
            body .page_a-la-francaise .carte .menu__bloc--description:hover > .coche_verte {
              width: 7rem; }
              body .page_a-la-francaise .carte .menu__bloc--description:hover > .coche_verte i {
                animation: hover-coche 1.5s forwards; }
            body .page_a-la-francaise .carte .menu__bloc--description .btn {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              max-width: none;
              min-width: 0px;
              max-height: none;
              margin-left: 1.5rem; }
              body .page_a-la-francaise .carte .menu__bloc--description .btn .texte {
                display: flex;
                flex-direction: column;
                width: 75%;
                font-size: 1.75rem;
                padding: 1.25rem 0 1.25rem 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
                body .page_a-la-francaise .carte .menu__bloc--description .btn .texte .texte_gras {
                  font-size: 1.85rem;
                  font-weight: bold;
                  padding: 0 0 0.5rem 0;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
                body .page_a-la-francaise .carte .menu__bloc--description .btn .texte .texte_light {
                  font-size: 1.6rem;
                  font-weight: lighter;
                  display: inline-block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
              body .page_a-la-francaise .carte .menu__bloc--description .btn .prix {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-size: 1.6rem;
                font-weight: bold;
                padding: 1.25rem 2rem 1.25rem 0; }
            body .page_a-la-francaise .carte .menu__bloc--description .coche_verte {
              display: flex;
              flex-direction: row;
              background-color: #99E2D0;
              color: #99E2D0;
              font-size: 1.3rem;
              justify-content: center;
              align-items: center;
              height: 7rem;
              width: 0px;
              border-radius: 0px 1.5rem 1.5rem 0px;
              transition: width 0.4s ease-in; }
              body .page_a-la-francaise .carte .menu__bloc--description .coche_verte i {
                background-color: white;
                display: inline-block;
                border-radius: 1rem;
                padding: 0.4rem;
                animation: unhover-coche 1.5s forwards; }
      body .page_a-la-francaise .carte .commande {
        text-decoration: none;
        align-items: center; }
        body .page_a-la-francaise .carte .commande .btn_rose {
          cursor: pointer;
          margin: auto;
          width: max-content;
          padding: 1.75rem 6rem;
          border-radius: 30px;
          font-size: 1.75rem;
          box-shadow: 0px 5px 10px #cdcdcd;
          color: white;
          background: #FF79DA;
          background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
          transition: background-color 1s; }
          body .page_a-la-francaise .carte .commande .btn_rose:hover {
            animation: degraded-color 0.2s forwards;
            box-shadow: 0px 5px 10px #aaaaaa; }
  body footer {
    width: 100%;
    margin: 0;
    background-color: #353535;
    color: #FFFFFF;
    padding: 2.5rem 0rem 0.5rem 0rem; }
    body footer div {
      font-family: 'Shrikhandregular', sans-serif;
      font-size: 1.75rem;
      text-align: center; }
      @media (max-width: 760px) {
        body footer div {
          padding-left: 2.5rem; } }
    body footer ul {
      list-style-type: none;
      font-size: 1.75rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem 20rem; }
      @media (max-width: 1150px) {
        body footer ul {
          display: grid;
          grid-template-columns: 20rem 20rem;
          grid-column-gap: 5rem;
          padding: 0 20rem; } }
      @media (max-width: 700px) {
        body footer ul {
          display: block;
          padding-left: 2.5rem; } }
      body footer ul li {
        padding-bottom: 1rem; }
        body footer ul li a {
          text-decoration: none;
          color: white; }
          body footer ul li a:hover {
            color: gray; }

/*# sourceMappingURL=style.css.map */
